@font-face {
    font-family: D-DIN-Bold;
    src: url('../fonts/D-DIN-Bold.otf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;
    font-family: D-DIN-Bold,Arial,Verdana,sans-serif;
}

a {
    color: #fff;
}

svg {
    fill: #fff;
}

header {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 46px 50px;
    max-width: 1400px;
    margin: 0 auto;
    height: 50px;
}

header svg {
    width: 200px;
}

header a.logo {
    margin-right: 40px;
}

.center-nav a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    padding: 0 13px;
}

.right-nav {
    position: fixed;
    right: 0;
    height: 50px;
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.right-nav a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    padding: 0 50px;
}

.hamburger {
    position: absolute;
    right: 0px;
    color: #fff;
    background-color: transparent;
    border: 0;
    transform: rotate(90deg);
}




















